## Data Structures for Data Science

In [1]:
favorites=['raindrops','roses','whiskers','kittens']
favorites

['raindrops', 'roses', 'whiskers', 'kittens']

In [2]:
len(favorites)

4

In [3]:
favorites[1]

'roses'

In [4]:
favorites[-1]

'kittens'

In [5]:
favorites[-2]

'whiskers'

In [6]:
favorites.append('snowflakes')

In [7]:
favorites

['raindrops', 'roses', 'whiskers', 'kittens', 'snowflakes']

In [10]:
favorites[-1][3]

'w'

In [11]:
favorites[-1]='kettles'
favorites

['raindrops', 'roses', 'whiskers', 'kittens', 'kettles']

In [12]:
more_faves=['mittens','eyelashes']

In [13]:
fave_things=favorites + more_faves
fave_things

['raindrops',
 'roses',
 'whiskers',
 'kittens',
 'kettles',
 'mittens',
 'eyelashes']

## Assignments

**Lists**

In [14]:
'''
a) Create a list called 'products' with the following items: 
'SHORT HALTER', 'LACE INSET MACI', 'MAXI OMBRE', 'MAXI EMB DRESS', 'SLEEEVELESS DRESS', 'TIE DYE ROMPER', 'ROMPER', 'OMBRE MAXI W/LATICE WORK', 'TIE DYE WIDE LEG PANT'
'''

# your code here
products=['SHORT HALTER', 'LACE INSET MACI', 'MAXI OMBRE', 'MAXI EMB DRESS', 'SLEEEVELESS DRESS', 'TIE DYE ROMPER', 'ROMPER', 'OMBRE MAXI W/LATICE WORK', 'TIE DYE WIDE LEG PANT']
products

['SHORT HALTER',
 'LACE INSET MACI',
 'MAXI OMBRE',
 'MAXI EMB DRESS',
 'SLEEEVELESS DRESS',
 'TIE DYE ROMPER',
 'ROMPER',
 'OMBRE MAXI W/LATICE WORK',
 'TIE DYE WIDE LEG PANT']

In [16]:
'''
b) Then, store the 3rd-5th items in another list called 'product_subset'.
'''
# your code here
product_subset=products[2:5]
product_subset

['MAXI OMBRE', 'MAXI EMB DRESS', 'SLEEEVELESS DRESS']

In [17]:
'''
c) Append the last element of "products" to "product_subset"
'''

# your code here
product_subset.append(products[-1])

In [18]:
product_subset

['MAXI OMBRE', 'MAXI EMB DRESS', 'SLEEEVELESS DRESS', 'TIE DYE WIDE LEG PANT']

## Dictionary

In [19]:
grade_distribution={"A":4,"B":3,"C":1}

In [20]:
grade_distribution.keys()

dict_keys(['A', 'B', 'C'])

In [21]:
grade_distribution.values()

dict_values([4, 3, 1])

In [22]:
grade_distribution['A']

4

In [23]:
grade_distribution['D']=1
grade_distribution

{'A': 4, 'B': 3, 'C': 1, 'D': 1}

In [24]:
fave_things

['raindrops',
 'roses',
 'whiskers',
 'kittens',
 'kettles',
 'mittens',
 'eyelashes']

In [25]:
import random
oft={}

for thing in fave_things:
    oft[thing]=random.randint(0,1)# random integer in range 0 to 1

In [26]:
oft

{'raindrops': 0,
 'roses': 1,
 'whiskers': 1,
 'kittens': 1,
 'kettles': 0,
 'mittens': 1,
 'eyelashes': 1}

## dictionaries_supply_chain

In [30]:
'''
a) Create a dictionary called "plants" with information on the following warehouse plants:
Locations        Supply
Dallas:          900
Las Vegas:       500
Detroit':        832
Nashville:       600
Los Angeles:    2400
Seattle:        1300
Denver:         1800
'''

# your code here
plants={'Dallas':900,'Las Vegas':500,'Detroit':832,'Nashville':600,'Los Angeles':2400,'Seattle':1300,'Denver':1800}
plants

{'Dallas': 900,
 'Las Vegas': 500,
 'Detroit': 832,
 'Nashville': 600,
 'Los Angeles': 2400,
 'Seattle': 1300,
 'Denver': 1800}

In [31]:
'''
b) Store the keys of the dictionary into a list called 'locations'. Store the values into a list called 'supply'.
HINT: Be sure that these variables are stored as lists. You can use list(x) on any list-like object x to convert it into a list.
'''
# your code here
locations=list(plants.keys())
supply=list(plants.values())
print('Locations :',locations)
print('supply:',supply)

Locations : ['Dallas', 'Las Vegas', 'Detroit', 'Nashville', 'Los Angeles', 'Seattle', 'Denver']
supply: [900, 500, 832, 600, 2400, 1300, 1800]

In [32]:
'''
c) Extract the supply for 'Los Angeles' and store it into a variable called 'la_supply'
'''
# your code here
la_supply=plants['Los Angeles']
la_supply

2400

## Reading

Python Docs: Data Structures
R​ead the sections on lists (5.1), tuples (5.3), and dictionaries (5.5) from the Python docs to learn about Python data types and and thier associated methods. 

L​ink to 5.1: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

L​ink to 5.3: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

L​ink to 5.5: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

## Data Structures Practice Quiz


1. From the reading on Python data structures, w​hich of the following statements about lists and tuples in Python is true?

* T​uples are immutable, while lists are mutable.

2. W​hich of the following is a valid initialization of an empty dictionary?

* e​mpty_dictionary = {}

# Loops and Functions
## Loops

In [33]:
notes = ['do','re','mi']

In [34]:
for note in notes:
    print(note)

do
re
mi

In [35]:
for n in range(5):
    print(n)

0
1
2
3
4

In [36]:
for n in range(3,5):
    print(n)

3
4

In [37]:
for n in range(3,12,3):
    print(n)

3
6
9

In [38]:
for n in range(0,20,2):
    print(n)

0
2
4
6
8
10
12
14
16
18

## While loop

In [39]:
i=0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [40]:
letters= ['a','b','c']
numbers = [1,2,3,4]

for letter in letters:
    for number in numbers:
        print(letter,number)

a 1
a 2
a 3
a 4
b 1
b 2
b 3
b 4
c 1
c 2
c 3
c 4

## Loops

We have created a dictionary called 'plants' with the values representing annual supply out of that region. Use a for loop to populate a list called 'updated_plants' with only the plant names of the plants with an annual supply of more than 875 units.

In [41]:
plants

{'Dallas': 900,
 'Las Vegas': 500,
 'Detroit': 832,
 'Nashville': 600,
 'Los Angeles': 2400,
 'Seattle': 1300,
 'Denver': 1800}

In [42]:
updated_plants = []

'''
Populate the list called 'updated_plants' with only the plant names of the 
plants with an annual supply of more than 875 units.
'''

# your code here
for location,supply in plants.items():
    if(supply>875):
        updated_plants.append(location)
print(updated_plants)

['Dallas', 'Los Angeles', 'Seattle', 'Denver']

In [43]:
for plant in plants:
    print(plant)

Dallas
Las Vegas
Detroit
Nashville
Los Angeles
Seattle
Denver

In [44]:
for plant in plants:
    temp_val = plants[plant]
    if temp_val > 875:
        updated_plants.append(plant)

print(updated_plants)

['Dallas', 'Los Angeles', 'Seattle', 'Denver', 'Dallas', 'Los Angeles', 'Seattle', 'Denver']

## Functions

In [45]:
def maxval(ls):
    mval =ls[0]
    for entry in ls:
        if entry > mval:
            mval = entry
    return mval

numbers=[1,3,4,6,68,3,2]
maxval(numbers)

68

In [47]:
maxval((1,3,4,6,68,3,2))

68


W​hat might happen if we called the maxval function on a data type other than a list (e.g.dictionary)?

1. set object is not subscriptable

2.  tuple will return the max value because it is subscriptable

W​ell, it depends. If we pass in a data type that can't be indexed, such as a integer or float, then the line ls[0] will give us an error. However, if we pass in a data type that is able to be indexed like a list, such as a dicitionary or even a string,  then the function will run without error but may not do what we intend. When writing or using functions, it's important to make note of the data types that are supported.

In [49]:
%time
max(numbers)

Wall time: 0 ns

68

In [52]:
%time 
maxval(numbers)

Wall time: 0 ns

68

In [53]:
maxval('zebra')

'z'

In [54]:
grades={'A':5,'B':4}
maxval(grades) # gives an error

KeyError: 0

In [55]:
def prod(a,b):
    return a*b

print("prod(3,4) ",prod(3,4))
print("prod(3,['a','b','c']) ",prod(3,['a','b','c']))

prod(3,4)  12
prod(3,['a','b','c'])  ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [56]:
def sing(notes):
    for note in notes:
        print("Sing "+note)

sing(['do','re','mi'])

Sing do
Sing re
Sing mi

## Programming Assignment: Functions

Define a function called 'dictionary_creator' to take in two lists and return a dictionary with key:value pair list1:list2. If the two lists are not the same size, return the word "Error" instead.

In [61]:
def dictionary_creator(list1, list2):
    
    ### dictionary_creator(['a', 'b', 'c'], [1,2,3]) should return {'a': 1, 'b': 2, 'c': 3}
    ### dictionary_creator(['monkeys', 'pirates', 'captains'], [1,2]) should return "Error"
    
    # your code here
    if len(list1)!=len(list2):
        return "Error"
    temp_dict={}
    for i in range(len(list1)):
        temp_dict[list1[i]]=list2[i]
        
    return temp_dict
    
dictionary_creator(['a', 'b', 'c'], [1,2,3])

{'a': 1, 'b': 2, 'c': 3}

## Keyword Arguments

W​e've been using keyword arguemtns in our code, such as the 'inplace' paramater. FInd out exactly what they are and how they are useful in this article:

https://www.educative.io/edpresso/what-are-keyword-arguments-in-python

H​ere's the takeaway:

* F​unction inputs can be given in the order they are defined (positional) or by specifying the name of the input (keyword). In addition, we can provide default values in the case that an input is not provided for that argument.

* F​or example, consider the following code:

d​ef TripleSum(a, b, c = 0):

 ​    print(a + b + c)

* T​he arguments a and b must be given, but if no input for c is provided then the function assumes it is 0

* T​he following are all valid inputs for TripleSum:

TripleSum(1, 2, 3)

TripleSum(1, 2, c = 3)

TripleSum(a = 1, b = 2, c = 3)

TripleSum(b = 2, c = 3, a = 1)

TripleSum(4, 7)

TripleSum(4, b = 7)

TripleSum(a = 4, b = 7)

TripleSum(b = 7, a = 4)

H​owever, positional arguments must always come before keywork arguments. As such, the following are invalid:

TripleSum(a = 1, 2, 3)

TripleSum(b = 7, 4)

In [62]:
def dictionary_creator(list1, list2):
    if len(list1) == len(list2):
        return dict(zip(list1, list2))
    else:
        return "Error"

dictionary_creator(['a', 'b', 'c'], [1,2,3])

{'a': 1, 'b': 2, 'c': 3}

## Libraries and Modules

#Module - file with defs/statements
#library/package - organized collection of modules

In [63]:
# e.g of library

import numpy as np
nums=np.random.rand(10)
nums

array([0.71469627, 0.27157789, 0.09783078, 0.43224277, 0.46048844,
       0.27495568, 0.42781834, 0.59908902, 0.46519293, 0.50566392])

np --> random ---> rand

The library NumPy has a module in it called random which in turn has a function inside of it called rand. When this rand function is passed into number 10, it returns a NumPy array of 10 random numbers between zero and one. Rand can also be passed in two numbers instead.

In [ ]:
# return a 3 by 4 matrix of random numbers between 0 and 1

In [64]:
mat= np.random.rand(3,4)
mat

array([[0.27792823, 0.44784762, 0.05527865, 0.27322839],
       [0.70205466, 0.36464   , 0.95416625, 0.70052245],
       [0.23244097, 0.33995191, 0.54136172, 0.20139466]])

In [65]:
nums.std()# method that comes with numpy arrays

0.166362316999171

In [66]:
## Find the rowise cummulative sums
mat.cumsum(1)

array([[0.27792823, 0.72577585, 0.7810545 , 1.05428289],
       [0.70205466, 1.06669467, 2.02086092, 2.72138336],
       [0.23244097, 0.57239288, 1.1137546 , 1.31514927]])

In [67]:
## Columnwise cummulative sum
mat.cumsum(0)

array([[0.27792823, 0.44784762, 0.05527865, 0.27322839],
       [0.9799829 , 0.81248762, 1.0094449 , 0.97375084],
       [1.21242387, 1.15243953, 1.55080662, 1.1751455 ]])

In [68]:
## function that comes with numpy library
np.std(nums)# another way of standard deviation

0.166362316999171

In [69]:
import pulp

Using license file C:\gurobi912\gurobi.lic

## Top 10 Python Libraries for Data Science

R​ead through some of the most common and useful libraries for data science in Python. In the next module, we'll be going over two of the most common: Pandas and Numpy. Stick around for the rest of the specialization where we'll dive deeper into all 10 covered in the list, including when to use one over the other.

https://towardsdatascience.com/top-10-python-libraries-for-data-science-cd82294ec266

I​n short, the list of 10 is the following:

1. P​andas

2. N​umPy

3. S​ciPy

4. M​atplotlib

5. S​eaborn

6. S​cikit Learn

7. T​ensorflow

8. K​eras

9. S​tatsmodels

10. P​lotly

# Linear Programming with Pulp

## What is PuLP?

PuLP is a Python package that specializes in discrete optimization. For example, suppose we want to maximize x*y given that 2*x + y = 3. If we allow any number as a solution then calculus tells us that we would get x = 3/4 and y = 3/2. However, suppose we are only allowed to have integers for solutions (i.e. no fractions). One might expect the answer to be integers close to these fractions (e.g. x = 1 and y = 1), but it's not always this simple. We would use PuLP in place of caluclus for problems like this.

Here's an article discussing PuLP: https://medium.com/ro-data-team-blog/optimization-with-pulp-in-python-getting-started-f6c5b678bf15

## Linear Programming with Pulp (I)

**Objective:**

* Minimize cost while filling product demand.

**4 Plant (Supply)**

* Dallas
* Los Angeles
* Seattle
* Denver

**4 Stores (Demand)**

* Austin
* Sacramento
* Philadephia
* Boulder

**Costs**

* Fixed cost to build plant
* Variable cost to ship product per route

**Questions:**

* Which plants should we build?
* Which products should we send on which route?

In [73]:
import pandas as pd

In [78]:
plants=['Dallas','Los Angeles','Seattle','Denver']
stores=['Austin','Sacramento','Philadephia','Boulder']

#,index=plants,columns=stores
cost_matrix=pd.DataFrame(np.array([[2,7,4,6],[6,3,4,5],[8,4,6,5],[7,6,5,1]]))
cost_matrix

   0  1  2  3
0  2  7  4  6
1  6  3  4  5
2  8  4  6  5
3  7  6  5  1

In [79]:
cost_matrix[0][0]

2

However, we want to convert this list of lists to a dictionary of dictionaries to use with the Pulp library

![Pulp Preprocessing](pulp_preprocessing.png)

In [80]:
## Costs: Dictionary of Dictionaries
costs={}
for i in range(len(plants)):
    temp_dict={}
    for j in range(len(stores)):
        temp_dict[stores[j]] = cost_matrix[i][j]
    costs[plants[i]]=temp_dict

In [81]:
costs

{'Dallas': {'Austin': 2, 'Sacramento': 6, 'Philadephia': 8, 'Boulder': 7},
 'Los Angeles': {'Austin': 7, 'Sacramento': 3, 'Philadephia': 4, 'Boulder': 6},
 'Seattle': {'Austin': 4, 'Sacramento': 4, 'Philadephia': 6, 'Boulder': 5},
 'Denver': {'Austin': 6, 'Sacramento': 5, 'Philadephia': 5, 'Boulder': 1}}

# Routes: List of Tuples

We need the list of all the routes we can ship out product on.

In [82]:
routes=[]
for p in plants:
    for s in stores:
        routes.append((p,s))

In [83]:
routes

[('Dallas', 'Austin'),
 ('Dallas', 'Sacramento'),
 ('Dallas', 'Philadephia'),
 ('Dallas', 'Boulder'),
 ('Los Angeles', 'Austin'),
 ('Los Angeles', 'Sacramento'),
 ('Los Angeles', 'Philadephia'),
 ('Los Angeles', 'Boulder'),
 ('Seattle', 'Austin'),
 ('Seattle', 'Sacramento'),
 ('Seattle', 'Philadephia'),
 ('Seattle', 'Boulder'),
 ('Denver', 'Austin'),
 ('Denver', 'Sacramento'),
 ('Denver', 'Philadephia'),
 ('Denver', 'Boulder')]

### Coding with Pulp

![Coding with Pulp](Coding_with_pulp.png)

In [84]:
plants=['Dallas','Los Angeles','Seattle','Denver']
plants

['Dallas', 'Los Angeles', 'Seattle', 'Denver']

In [85]:
supply = {'Dallas':900,'Los Angeles':2400,'Seattle':1300,'Denver':1000}
supply

{'Dallas': 900, 'Los Angeles': 2400, 'Seattle': 1300, 'Denver': 1000}

In [86]:
fixedCost = {'Dallas':75000,'Los Angeles':72000,'Seattle':100000,'Denver':74000}
fixedCost

{'Dallas': 75000, 'Los Angeles': 72000, 'Seattle': 100000, 'Denver': 74000}

In [87]:
# Demand
stores

['Austin', 'Sacramento', 'Philadephia', 'Boulder']

In [88]:
demand= {'Austin':1700,'Sacramento':1000, 'Philadephia':1500, 'Boulder':1200}
demand

{'Austin': 1700, 'Sacramento': 1000, 'Philadephia': 1500, 'Boulder': 1200}

In [89]:
cost_matrix =[
              #ATX  #SAC  #PHL  #BU 
              [2,    7,    4,    6], # DAL
              [6,    3,    4,    5], # LA
              [8,    4,    6,    5], #SEA
              [7,    6,    5,    1]  #DEN
]

In [90]:
cost_matrix

[[2, 7, 4, 6], [6, 3, 4, 5], [8, 4, 6, 5], [7, 6, 5, 1]]

In [91]:
# Pulp requires dictionaries so convert from list of list to dictionary of dictionaries
## Costs: Dictionary of Dictionaries
costs={}
for i in range(len(plants)):
    temp_dict={}
    for j in range(len(stores)):
        temp_dict[stores[j]] = cost_matrix[i][j]
    costs[plants[i]]=temp_dict

In [92]:
costs

{'Dallas': {'Austin': 2, 'Sacramento': 7, 'Philadephia': 4, 'Boulder': 6},
 'Los Angeles': {'Austin': 6, 'Sacramento': 3, 'Philadephia': 4, 'Boulder': 5},
 'Seattle': {'Austin': 8, 'Sacramento': 4, 'Philadephia': 6, 'Boulder': 5},
 'Denver': {'Austin': 7, 'Sacramento': 6, 'Philadephia': 5, 'Boulder': 1}}

# create our routes

In [93]:
routes=[]
for p in plants:
    for s in stores:
        routes.append((p,s))

In [94]:
routes

[('Dallas', 'Austin'),
 ('Dallas', 'Sacramento'),
 ('Dallas', 'Philadephia'),
 ('Dallas', 'Boulder'),
 ('Los Angeles', 'Austin'),
 ('Los Angeles', 'Sacramento'),
 ('Los Angeles', 'Philadephia'),
 ('Los Angeles', 'Boulder'),
 ('Seattle', 'Austin'),
 ('Seattle', 'Sacramento'),
 ('Seattle', 'Philadephia'),
 ('Seattle', 'Boulder'),
 ('Denver', 'Austin'),
 ('Denver', 'Sacramento'),
 ('Denver', 'Philadephia'),
 ('Denver', 'Boulder')]

In [97]:
### Use pulp

#Variable definition
## Number of products to be shipped each route
route= pulp.LpVariable.dicts("Route",(plants,stores),0,None,pulp.LpInteger)
route

{'Dallas': {'Austin': Route_Dallas_Austin,
  'Sacramento': Route_Dallas_Sacramento,
  'Philadephia': Route_Dallas_Philadephia,
  'Boulder': Route_Dallas_Boulder},
 'Los Angeles': {'Austin': Route_Los_Angeles_Austin,
  'Sacramento': Route_Los_Angeles_Sacramento,
  'Philadephia': Route_Los_Angeles_Philadephia,
  'Boulder': Route_Los_Angeles_Boulder},
 'Seattle': {'Austin': Route_Seattle_Austin,
  'Sacramento': Route_Seattle_Sacramento,
  'Philadephia': Route_Seattle_Philadephia,
  'Boulder': Route_Seattle_Boulder},
 'Denver': {'Austin': Route_Denver_Austin,
  'Sacramento': Route_Denver_Sacramento,
  'Philadephia': Route_Denver_Philadephia,
  'Boulder': Route_Denver_Boulder}}

In [ ]:
### pulp.LpVariable.dicts(name,index,lowBound,upperBound,datatype or Category)

Define a variable whether or not to build each plant
0 indecating not to buld, 1 means build.

In [98]:
build = pulp.LpVariable.dicts("Build_Plant",plants,0,1,pulp.LpInteger)
build

{'Dallas': Build_Plant_Dallas,
 'Los Angeles': Build_Plant_Los_Angeles,
 'Seattle': Build_Plant_Seattle,
 'Denver': Build_Plant_Denver}

define our objective functions

In [100]:
obj=""

for (p,s) in routes:
    obj+=route[p][s]*costs[p][s]

obj

2*Route_Dallas_Austin + 6*Route_Dallas_Boulder + 4*Route_Dallas_Philadephia + 7*Route_Dallas_Sacramento + 7*Route_Denver_Austin + 1*Route_Denver_Boulder + 5*Route_Denver_Philadephia + 6*Route_Denver_Sacramento + 6*Route_Los_Angeles_Austin + 5*Route_Los_Angeles_Boulder + 4*Route_Los_Angeles_Philadephia + 3*Route_Los_Angeles_Sacramento + 8*Route_Seattle_Austin + 5*Route_Seattle_Boulder + 6*Route_Seattle_Philadephia + 4*Route_Seattle_Sacramento + 0

fixed cost to objective function

In [101]:
for p in plants:
   obj += fixedCost[p] * build[p]

obj

75000*Build_Plant_Dallas + 74000*Build_Plant_Denver + 72000*Build_Plant_Los_Angeles + 100000*Build_Plant_Seattle + 2*Route_Dallas_Austin + 6*Route_Dallas_Boulder + 4*Route_Dallas_Philadephia + 7*Route_Dallas_Sacramento + 7*Route_Denver_Austin + 1*Route_Denver_Boulder + 5*Route_Denver_Philadephia + 6*Route_Denver_Sacramento + 6*Route_Los_Angeles_Austin + 5*Route_Los_Angeles_Boulder + 4*Route_Los_Angeles_Philadephia + 3*Route_Los_Angeles_Sacramento + 8*Route_Seattle_Austin + 5*Route_Seattle_Boulder + 6*Route_Seattle_Philadephia + 4*Route_Seattle_Sacramento + 0

Problem Statement

In [102]:
prob = pulp.LpProblem("Supply_Demand",pulp.LpMinimize)
prob +=obj,"Total Cost"
prob

Supply_Demand:
MINIMIZE
75000*Build_Plant_Dallas + 74000*Build_Plant_Denver + 72000*Build_Plant_Los_Angeles + 100000*Build_Plant_Seattle + 2*Route_Dallas_Austin + 6*Route_Dallas_Boulder + 4*Route_Dallas_Philadephia + 7*Route_Dallas_Sacramento + 7*Route_Denver_Austin + 1*Route_Denver_Boulder + 5*Route_Denver_Philadephia + 6*Route_Denver_Sacramento + 6*Route_Los_Angeles_Austin + 5*Route_Los_Angeles_Boulder + 4*Route_Los_Angeles_Philadephia + 3*Route_Los_Angeles_Sacramento + 8*Route_Seattle_Austin + 5*Route_Seattle_Boulder + 6*Route_Seattle_Philadephia + 4*Route_Seattle_Sacramento + 0
VARIABLES
0 <= Build_Plant_Dallas <= 1 Integer
0 <= Build_Plant_Denver <= 1 Integer
0 <= Build_Plant_Los_Angeles <= 1 Integer
0 <= Build_Plant_Seattle <= 1 Integer
0 <= Route_Dallas_Austin Integer
0 <= Route_Dallas_Boulder Integer
0 <= Route_Dallas_Philadephia Integer
0 <= Route_Dallas_Sacramento Integer
0 <= Route_Denver_Austin Integer
0 <= Route_Denver_Boulder Integer
0 <= Route_Denver_Philadephia Integer
0 <= Route_Denver_Sacramento Integer
0 <= Route_Los_Angeles_Austin Integer
0 <= Route_Los_Angeles_Boulder Integer
0 <= Route_Los_Angeles_Philadephia Integer
0 <= Route_Los_Angeles_Sacramento Integer
0 <= Route_Seattle_Austin Integer
0 <= Route_Seattle_Boulder Integer
0 <= Route_Seattle_Philadephia Integer
0 <= Route_Seattle_Sacramento Integer

In [114]:
supply

{'Dallas': 900, 'Los Angeles': 2400, 'Seattle': 1300, 'Denver': 1000}

In [104]:
### Supply/demand constraints

for p in plants:
    product_out =""
    for s in stores:
        product_out += route[p][s]
    prob += product_out <= supply[p] * build[p],'Total product out of plant_' + str(p)

prob

Supply_Demand:
MINIMIZE
75000*Build_Plant_Dallas + 74000*Build_Plant_Denver + 72000*Build_Plant_Los_Angeles + 100000*Build_Plant_Seattle + 2*Route_Dallas_Austin + 6*Route_Dallas_Boulder + 4*Route_Dallas_Philadephia + 7*Route_Dallas_Sacramento + 7*Route_Denver_Austin + 1*Route_Denver_Boulder + 5*Route_Denver_Philadephia + 6*Route_Denver_Sacramento + 6*Route_Los_Angeles_Austin + 5*Route_Los_Angeles_Boulder + 4*Route_Los_Angeles_Philadephia + 3*Route_Los_Angeles_Sacramento + 8*Route_Seattle_Austin + 5*Route_Seattle_Boulder + 6*Route_Seattle_Philadephia + 4*Route_Seattle_Sacramento + 0
SUBJECT TO
Total_product_out_of_plant_Dallas: - 900 Build_Plant_Dallas
 + Route_Dallas_Austin + Route_Dallas_Boulder + Route_Dallas_Philadephia
 + Route_Dallas_Sacramento <= 0

Total_product_out_of_plant_Los_Angeles: - 2400 Build_Plant_Los_Angeles
 + Route_Los_Angeles_Austin + Route_Los_Angeles_Boulder
 + Route_Los_Angeles_Philadephia + Route_Los_Angeles_Sacramento <= 0

Total_product_out_of_plant_Seattle: - 1300 Build_Plant_Seattle
 + Route_Seattle_Austin + Route_Seattle_Boulder + Route_Seattle_Philadephia
 + Route_Seattle_Sacramento <= 0

Total_product_out_of_plant_Denver: - 1000 Build_Plant_Denver
 + Route_Denver_Austin + Route_Denver_Boulder + Route_Denver_Philadephia
 + Route_Denver_Sacramento <= 0

VARIABLES
0 <= Build_Plant_Dallas <= 1 Integer
0 <= Build_Plant_Denver <= 1 Integer
0 <= Build_Plant_Los_Angeles <= 1 Integer
0 <= Build_Plant_Seattle <= 1 Integer
0 <= Route_Dallas_Austin Integer
0 <= Route_Dallas_Boulder Integer
0 <= Route_Dallas_Philadephia Integer
0 <= Route_Dallas_Sacramento Integer
0 <= Route_Denver_Austin Integer
0 <= Route_Denver_Boulder Integer
0 <= Route_Denver_Philadephia Integer
0 <= Route_Denver_Sacramento Integer
0 <= Route_Los_Angeles_Austin Integer
0 <= Route_Los_Angeles_Boulder Integer
0 <= Route_Los_Angeles_Philadephia Integer
0 <= Route_Los_Angeles_Sacramento Integer
0 <= Route_Seattle_Austin Integer
0 <= Route_Seattle_Boulder Integer
0 <= Route_Seattle_Philadephia Integer
0 <= Route_Seattle_Sacramento Integer

In [105]:
for s in stores:
    product_in =""
    for p in plants:
        product_in +=route[p][s]
    prob+=product_in >= demand[s], 'Total product into store_'+str(s)
prob

Supply_Demand:
MINIMIZE
75000*Build_Plant_Dallas + 74000*Build_Plant_Denver + 72000*Build_Plant_Los_Angeles + 100000*Build_Plant_Seattle + 2*Route_Dallas_Austin + 6*Route_Dallas_Boulder + 4*Route_Dallas_Philadephia + 7*Route_Dallas_Sacramento + 7*Route_Denver_Austin + 1*Route_Denver_Boulder + 5*Route_Denver_Philadephia + 6*Route_Denver_Sacramento + 6*Route_Los_Angeles_Austin + 5*Route_Los_Angeles_Boulder + 4*Route_Los_Angeles_Philadephia + 3*Route_Los_Angeles_Sacramento + 8*Route_Seattle_Austin + 5*Route_Seattle_Boulder + 6*Route_Seattle_Philadephia + 4*Route_Seattle_Sacramento + 0
SUBJECT TO
Total_product_out_of_plant_Dallas: - 900 Build_Plant_Dallas
 + Route_Dallas_Austin + Route_Dallas_Boulder + Route_Dallas_Philadephia
 + Route_Dallas_Sacramento <= 0

Total_product_out_of_plant_Los_Angeles: - 2400 Build_Plant_Los_Angeles
 + Route_Los_Angeles_Austin + Route_Los_Angeles_Boulder
 + Route_Los_Angeles_Philadephia + Route_Los_Angeles_Sacramento <= 0

Total_product_out_of_plant_Seattle: - 1300 Build_Plant_Seattle
 + Route_Seattle_Austin + Route_Seattle_Boulder + Route_Seattle_Philadephia
 + Route_Seattle_Sacramento <= 0

Total_product_out_of_plant_Denver: - 1000 Build_Plant_Denver
 + Route_Denver_Austin + Route_Denver_Boulder + Route_Denver_Philadephia
 + Route_Denver_Sacramento <= 0

Total_product_into_store_Austin: Route_Dallas_Austin + Route_Denver_Austin
 + Route_Los_Angeles_Austin + Route_Seattle_Austin >= 1700

Total_product_into_store_Sacramento: Route_Dallas_Sacramento
 + Route_Denver_Sacramento + Route_Los_Angeles_Sacramento
 + Route_Seattle_Sacramento >= 1000

Total_product_into_store_Philadephia: Route_Dallas_Philadephia
 + Route_Denver_Philadephia + Route_Los_Angeles_Philadephia
 + Route_Seattle_Philadephia >= 1500

Total_product_into_store_Boulder: Route_Dallas_Boulder + Route_Denver_Boulder
 + Route_Los_Angeles_Boulder + Route_Seattle_Boulder >= 1200

VARIABLES
0 <= Build_Plant_Dallas <= 1 Integer
0 <= Build_Plant_Denver <= 1 Integer
0 <= Build_Plant_Los_Angeles <= 1 Integer
0 <= Build_Plant_Seattle <= 1 Integer
0 <= Route_Dallas_Austin Integer
0 <= Route_Dallas_Boulder Integer
0 <= Route_Dallas_Philadephia Integer
0 <= Route_Dallas_Sacramento Integer
0 <= Route_Denver_Austin Integer
0 <= Route_Denver_Boulder Integer
0 <= Route_Denver_Philadephia Integer
0 <= Route_Denver_Sacramento Integer
0 <= Route_Los_Angeles_Austin Integer
0 <= Route_Los_Angeles_Boulder Integer
0 <= Route_Los_Angeles_Philadephia Integer
0 <= Route_Los_Angeles_Sacramento Integer
0 <= Route_Seattle_Austin Integer
0 <= Route_Seattle_Boulder Integer
0 <= Route_Seattle_Philadephia Integer
0 <= Route_Seattle_Sacramento Integer

In [106]:
### solve!

prob.solve()

1

In [109]:
print("Status: ",pulp.LpStatus[prob.status])

Status:  Optimal

In [110]:
pulp.LpStatus

{0: 'Not Solved',
 1: 'Optimal',
 -1: 'Infeasible',
 -2: 'Unbounded',
 -3: 'Undefined'}

In [111]:
for v in prob.variables():
    print(v.name,'m',v.varValue)

Build_Plant_Dallas m 1.0
Build_Plant_Denver m 1.0
Build_Plant_Los_Angeles m 1.0
Build_Plant_Seattle m 1.0
Route_Dallas_Austin m 900.0
Route_Dallas_Boulder m 0.0
Route_Dallas_Philadephia m 0.0
Route_Dallas_Sacramento m 0.0
Route_Denver_Austin m 0.0
Route_Denver_Boulder m 1000.0
Route_Denver_Philadephia m 0.0
Route_Denver_Sacramento m 0.0
Route_Los_Angeles_Austin m 800.0
Route_Los_Angeles_Boulder m 0.0
Route_Los_Angeles_Philadephia m 1500.0
Route_Los_Angeles_Sacramento m 100.0
Route_Seattle_Austin m 0.0
Route_Seattle_Boulder m 200.0
Route_Seattle_Philadephia m 0.0
Route_Seattle_Sacramento m 900.0

In [112]:
pulp.value(prob.objective)

339500.0